In [3]:

import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, TimeDistributed, RepeatVector, Dense, BatchNormalization
import numpy as np
import random

from tensorflow.keras.models import load_model


class CharacterTable(object):
    
    """Given a set of characters:
    + Encode them to a one hot integer representation
    + Decode the one hot integer representation to their character output
    + Decode a vector of probabilities to their character output
    """
    def __init__(self, chars):
        """Initialize character table.
        # Arguments
            chars: Characters that can appear in the input.
        """
        self.chars = sorted(set(chars))
        self.char_indices = dict((c, i) for i, c in enumerate(self.chars))
        self.indices_char = dict((i, c) for i, c in enumerate(self.chars))

    def encode(self, C, num_rows):
        """One hot encode given string C.
        # Arguments
            num_rows: Number of rows in the returned one hot encoding. This is
                used to keep the # of rows for each data the same.
        """
        x = np.zeros((num_rows, len(self.chars)))
        for i, c in enumerate(C):
            x[i, self.char_indices[c]] = 1
        return x

    def decode(self, x, calc_argmax=True):
        if calc_argmax:
            x = x.argmax(axis=-1)
        return ''.join(self.indices_char[x] for x in x)
    
    


maxlen = 25 #input max len
output_len = 10 # output max len
# All the possible symbols in the input 
chars = '0123456789+$-,/.ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuwxyv '
ctable = CharacterTable(chars)


import pandas as pd
df = pd.read_csv("rent_prices.csv")
df = df.fillna(0)
from sklearn.utils import shuffle
df = shuffle(df)


raw_prices = df["Price on site"].tolist()
  
float_min_price = [float(price) for price in df["Min price"]]
float_max_price = [float(price) for price in df["Max price"]]

split_at = len(float_min_price) - len(float_min_price) // 10
    
#val data
raw_prices_val = []
parced_min_prices_val = []
parced_max_prices_val = []

for idx in range(split_at,len(raw_prices)-1):
    raw_price = str(raw_prices[idx])
    
    parsed_min_price = str(float_min_price[idx])
    parsed_min_price+=' '*(output_len - len(str(float_min_price[idx])))
    parced_min_prices_val.append(parsed_min_price)
    
    parsed_max_price = str(float_max_price[idx])
    parsed_max_price+=' '*(output_len - len(str(float_max_price[idx])))
    parced_max_prices_val.append(parsed_max_price)
    
    raw_prices_val.append(raw_price)

 
x_min_val = np.zeros((len(raw_prices_val), maxlen, len(chars)), dtype=np.bool)
y_min_val = np.zeros((len(parced_min_prices_val), output_len, len(chars)), dtype=np.bool)
for i, sentence in enumerate(raw_prices_val):
    x_min_val[i] = ctable.encode(str(sentence), maxlen)
for i, sentence in enumerate(parced_min_prices_val):
    y_min_val[i] = ctable.encode(str(sentence), output_len)

x_max_val = np.zeros((len(raw_prices_val), maxlen, len(chars)), dtype=np.bool)
y_max_val = np.zeros((len(parced_max_prices_val), output_len, len(chars)), dtype=np.bool)
for i, sentence in enumerate(raw_prices_val):
    x_max_val[i] = ctable.encode(str(sentence), maxlen)
for i, sentence in enumerate(parced_max_prices_val):
    y_max_val[i] = ctable.encode(str(sentence), output_len)

In [4]:
min_price_model = load_model('./wandb/run-rent_min/model-best.h5')
print('Min price prediction ----------------------------------------')
for ind in range(len(x_max_val)):
    rowx, rowy = x_min_val[np.array([ind])], y_min_val[np.array([ind])]
    preds = min_price_model.predict_classes(rowx, verbose=0)
    q = ctable.decode(rowx[0])
    correct = ctable.decode(rowy[0])
    guess = ctable.decode(preds[0], calc_argmax=False)
    print('Q', q, end=' ')
    print('T', correct, end=' ')
    if correct == guess:
        print('☑', end=' ')
    else:
        print('☒', end=' ')
    print('G',guess, end='\n')

Min price prediction ----------------------------------------
Q $16.50 SF/YR              T 16.5       ☑ G 16.5
Q $1,850/mo                 T 1850.0     ☑ G 1850.0
Q $1,450/mo                 T 1450.0     ☑ G 1450.0
Q $15.60 - $16.20 SF/YR     T 15.6       ☑ G 15.6
Q $2,700+ /month            T 2700.0     ☑ G 2700.0
Q $1,249 - $1,340/mo        T 1249.0     ☑ G 1249.0
Q $14.75 SF/YR              T 14.75      ☑ G 14.75
Q $3,695 /month             T 3695.0     ☑ G 3695.0
Q $13.00 SF/YR              T 13.0       ☑ G 13.0
Q $1,000/mo                 T 1000.0     ☑ G 1000.0
Q $525/mo                   T 525.0      ☑ G 525.0
Q $2,195+ /month            T 2195.0     ☑ G 2195.0
Q $3,850 /month             T 3850.0     ☑ G 3850.0
Q $1,149 - $2,997/mo        T 1149.0     ☑ G 1149.0
Q $2,500 /month             T 2500.0     ☑ G 2500.0
Q $1,200/mo                 T 1200.0     ☑ G 1200.0
Q $760/mo                   T 760.0      ☑ G 760.0
Q $3,400/mo                 T 3400.0     ☑ G 3400.0
Q $4,700 /month             T 4700.0     ☑ G 4700.0
Q $1,065/mo                 T 1065.0     ☑ G 1065.0
Q $8,500/mo                 T 8500.0     ☑ G 8500.0
Q $1,935 - $5,385/mo        T 1935.0     ☑ G 1935.0
Q $2,910 /month             T 2910.0     ☑ G 2910.0
Q $1,399/mo                 T 1399.0     ☑ G 1399.0
Q $18.50 SF/YR              T 18.5       ☑ G 18.5
Q $2,195 - $2,845/mo        T 2195.0     ☑ G 2195.0
Q $1,050/mo                 T 1050.0     ☑ G 1050.0
Q $1.16 SF/YR               T 1.16       ☑ G 1.16
Q $600+ /month              T 600.0      ☑ G 600.0
Q $3,575/mo                 T 3575.0     ☑ G 3575.0
Q $3,450 /month             T 3450.0     ☑ G 3450.0
Q $2,786 /month             T 2786.0     ☑ G 2786.0
Q $2,800 /month             T 2800.0     ☑ G 2800.0
Q $2,653 /month             T 2653.0     ☑ G 2653.0
Q $6.00 SF/YR               T 6.0        ☑ G 6.0
Q $1,500+                   T 1500.0     ☑ G 1500.0
Q $2,500/mo                 T 2500.0     ☑ G 2500.0
Q $1,695/mo                 T 1695.0     ☑ G 1695.0
Q $3,995 /month             T 3995.0     ☑ G 3995.0
Q $2,400/mo                 T 2400.0     ☑ G 2400.0
Q $2,400/mo                 T 2400.0     ☑ G 2400.0
Q $719/mo                   T 719.0      ☑ G 719.0
Q $596+ /month              T 596.0      ☑ G 596.0
Q $3,500 /month             T 3500.0     ☑ G 3500.0
Q $12,169/mo                T 12169.0    ☑ G 12169.0
Q $1,650+ /month            T 1650.0     ☑ G 1650.0
Q $20.73 SF/YR              T 20.73      ☑ G 20.73
Q $19,500/mo                T 19500.0    ☑ G 19500.0
Q $850/mo                   T 850.0      ☑ G 850.0
Q $1,350/mo                 T 1350.0     ☑ G 1350.0
Q $1,450/mo                 T 1450.0     ☑ G 1450.0
Q $3,138+ /month            T 3138.0     ☑ G 3138.0
Q $2,000/mo                 T 2000.0     ☑ G 2000.0
Q $1,300/mo                 T 1300.0     ☑ G 1300.0
Q $41.14 SF/YR              T 41.14      ☑ G 41.14
Q $3,000 /month             T 3000.0     ☑ G 3000.0
Q $14.50 SF/YR              T 14.5       ☑ G 14.5

In [5]:
max_price_model = load_model('./wandb/run-rent_max/model-best.h5')
print('Max price prediction ----------------------------------------')
for ind in range(len(x_max_val)):
    rowx, rowy = x_max_val[np.array([ind])], y_max_val[np.array([ind])]
    preds = max_price_model.predict_classes(rowx, verbose=0)
    q = ctable.decode(rowx[0])
    correct = ctable.decode(rowy[0])
    guess = ctable.decode(preds[0], calc_argmax=False)
    print('Q', q, end=' ')
    print('T', correct, end=' ')
    if correct == guess:
        print('☑', end=' ')
    else:
        print('☒', end=' ')
    print('G',guess, end='\n')

Max price prediction ----------------------------------------
Q $16.50 SF/YR              T 16.5       ☑ G 16.5
Q $1,850/mo                 T 1850.0     ☑ G 1850.0
Q $1,450/mo                 T 1450.0     ☑ G 1450.0
Q $15.60 - $16.20 SF/YR     T 16.2       ☑ G 16.2
Q $2,700+ /month            T 0.0        ☑ G 0.0
Q $1,249 - $1,340/mo        T 1340.0     ☑ G 1340.0
Q $14.75 SF/YR              T 14.75      ☑ G 14.75
Q $3,695 /month             T 3695.0     ☑ G 3695.0
Q $13.00 SF/YR              T 13.0       ☑ G 13.0
Q $1,000/mo                 T 1000.0     ☑ G 1000.0
Q $525/mo                   T 525.0      ☑ G 525.0
Q $2,195+ /month            T 0.0        ☑ G 0.0
Q $3,850 /month             T 3850.0     ☑ G 3850.0
Q $1,149 - $2,997/mo        T 2997.0     ☑ G 2997.0
Q $2,500 /month             T 2500.0     ☑ G 2500.0
Q $1,200/mo                 T 1200.0     ☑ G 1200.0
Q $760/mo                   T 760.0      ☑ G 760.0
Q $3,400/mo                 T 3400.0     ☑ G 3400.0
Q $4,700 /month             T 4700.0     ☑ G 4700.0
Q $1,065/mo                 T 1065.0     ☑ G 1065.0
Q $8,500/mo                 T 8500.0     ☑ G 8500.0
Q $1,935 - $5,385/mo        T 5385.0     ☑ G 5385.0
Q $2,910 /month             T 2910.0     ☑ G 2910.0
Q $1,399/mo                 T 1399.0     ☑ G 1399.0
Q $18.50 SF/YR              T 18.5       ☑ G 18.5
Q $2,195 - $2,845/mo        T 2845.0     ☑ G 2845.0
Q $1,050/mo                 T 1050.0     ☑ G 1050.0
Q $1.16 SF/YR               T 1.16       ☑ G 1.16
Q $600+ /month              T 0.0        ☑ G 0.0
Q $3,575/mo                 T 3575.0     ☑ G 3575.0
Q $3,450 /month             T 3450.0     ☑ G 3450.0
Q $2,786 /month             T 2786.0     ☑ G 2786.0
Q $2,800 /month             T 2800.0     ☑ G 2800.0
Q $2,653 /month             T 2653.0     ☒ G 2553.0
Q $6.00 SF/YR               T 6.0        ☑ G 6.0
Q $1,500+                   T 0.0        ☑ G 0.0
Q $2,500/mo                 T 2500.0     ☑ G 2500.0
Q $1,695/mo                 T 1695.0     ☑ G 1695.0
Q $3,995 /month             T 3995.0     ☑ G 3995.0
Q $2,400/mo                 T 2400.0     ☑ G 2400.0
Q $2,400/mo                 T 2400.0     ☑ G 2400.0
Q $719/mo                   T 719.0      ☑ G 719.0
Q $596+ /month              T 0.0        ☑ G 0.0
Q $3,500 /month             T 3500.0     ☑ G 3500.0
Q $12,169/mo                T 12169.0    ☑ G 12169.0
Q $1,650+ /month            T 0.0        ☑ G 0.0
Q $20.73 SF/YR              T 20.73      ☑ G 20.73
Q $19,500/mo                T 19500.0    ☑ G 19500.0
Q $850/mo                   T 850.0      ☑ G 850.0
Q $1,350/mo                 T 1350.0     ☑ G 1350.0
Q $1,450/mo                 T 1450.0     ☑ G 1450.0
Q $3,138+ /month            T 0.0        ☑ G 0.0
Q $2,000/mo                 T 2000.0     ☑ G 2000.0
Q $1,300/mo                 T 1300.0     ☑ G 1300.0
Q $41.14 SF/YR              T 41.14      ☑ G 41.14
Q $3,000 /month             T 3000.0     ☑ G 3000.0
Q $14.50 SF/YR              T 14.5       ☑ G 14.5